
.menu div {

    width: 1rem;
    height: 1rem;
    position: relative;

}

.menu span {

    background: var(--color-background);
    width: 100%;
    height: 2px;
    border-radius: 5px;
    display: flex;
    position: relative;
    margin-top: 2px;
    transition: transform 0.5s, width 0.5s;
    box-shadow: 0.5px 0.5px 0.5px 0.5px var(--sCol);
    cursor: pointer;
    z-index: 7;
}


.menu .line1 {
    width: 50%;
    transform: translate(0, -0.5px);
}

.menu .line3 {
    width: 50%;
    left: auto;
    right: 0;
    transform: translate(100%, 0.5px);
}

.openMenu .line1 {

    transform: translate(0, 0) rotate(-45deg);
    transform-origin: 50% 50%;

}

.openMenu .line3 {

    transform: translate(-100%, 0) rotate(-45deg);
    transform-origin: 40% -50%;

}

.openMenu .line2 {

    transform: translate(-50%, -50%) rotate(45deg);

}

.sidebar {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    right: -300px; /* Initially hidden */
    width: 12.813rem;
    height: 90vh;
    max-height: 90vh;
    font-size: 1rem;
    margin-top: 7vh;
    margin-right: -0.312rem;
    background-color: hsl(0, 0%, 50%);
    box-shadow: -2px 0 5px hsla(45, 100%, 40%, 0.8);
    border: 2px ridge goldenrod;
    border-radius: 0.625rem;
    transition: right 0.5s ease-in-out;
    z-index: 5;
  }
  
  .sidebarOpen {
    right: 0; /* Visible when open */

  }

    .topHeaderContainer{
    display: flex;
    position: absolute;
    flex-direction: row;
    align-items: center;
    top: 0;
    justify-content: space-between;
    font-family: var(--font-body, 'Playfair Display');
    font-size: 0.625rem;
    width: 100%;
    height: 9vh;
    padding: 0.5rem;
    /* background: var(--color-text); */
    background: linear-gradient(to left, var(--color-primary), var(--color-background));
    color: var(--color-background);
    border-bottom: 1px solid var(--color-background);
    border-radius: 0.625rem 0.625rem 0 0  ;
    box-shadow: 1px 1px 0.5px 0.5px var(--color-text);

  }

  .logoContainer {

  display: flex;
  position: absolute;
  justify-content: center;
  width: 100%;
  top: 7%;
  padding: 0.5rem 0;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.logo {
  object-fit: contain;
  border: 1px ridge white;
  border-radius: 50%;
  background-color: #000;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

  
  .sidebarContent {

    display: flex;
    flex-direction: column;
    font-family: var(--font-title, 'Playfair Display');
    /* font-size: 0.625rem; */
    align-items: center;
    width: 100%;
    height: 30vh;
    padding: 20px;
    overflow-y: auto;
    scroll-behavior: smooth;
    /* text-transform: uppercase; */
  }

.item:first-child{
    color: green;
    margin-bottom: -3rem;
}

.item:last-child{
    color: green;
}


  .item {
    margin: 3rem 0;
    font-size: 1.1rem;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  div > .focused{
    padding: 0.312rem 0.625rem;
    border: 2px solid white;
    border-radius: 0.875rem;
  }
  
  .focused {
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
  }


  .bottomSocialIcons{
  display: flex;
  position: absolute;
  bottom: 7%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-family: var(--font-title, 'Playfair Display');
  font-size: 1rem;
  width: 80%;
  padding: 0.2rem;
  margin-top: 1rem;
  /* margin-bottom: 2rem; */
  color: #fff;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 1px 1px 2px 2px var(--sCol);

}

.whatsappIcon {
  color: rgb(37, 211, 102);
}

.instaIcon {
  color: rgb(238, 174, 202);
}

.telegramIcon{
    color: #24A1DE;
}