.footer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Playfair Display", serif;
  font-size: 0.7rem;
  width: 100%;
  margin-bottom: 3rem;
  padding: 0.312rem;
  color: #000;
  text-transform: uppercase;
}

.footerInfoBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 40vh;
    padding: 0.312rem;
    border: 1px ridge #000;
    border-radius: 0.15rem;
    box-shadow: 1px 1px 2px 2px var(--sCol);

}
.footerInfoBox>div {

    width: 30%;
    height: 20vh;
    margin: 0.312rem;
    padding: 1rem;
    box-shadow: 1px 1px 2px 2px var(--sCol);
    border: 1px solid #000;
    border-radius: 0.312rem;

}
.footerInfoBox>span {
    width: 30%;
    height: 10vh;
    margin: 0.312rem;
    padding: 1rem;
    box-shadow: 1px 1px 2px 2px var(--sCol);
    border: 1px solid #000;
    border-radius: 0.312rem;
}

.footerCopyrightBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    padding: 0.312rem;
    color: #000;
    text-align: center;
    border: 1px ridge #000;
    border-radius: 0.15rem;
    box-shadow: 1px 1px 2px 2px var(--sCol);

}