:root {
  --font-title: var(--font-title);
  --font-lobster: var(--font-lobster);
  --font-body: var(--font-body);
}

body{
  display: flex;
  font-family: "Gravitas one", serif;
  position: fixed;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  background: #000;
}

.contentBox {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  max-width: 95vw;
  width: 95vw;
  height: 85vh;
  max-height: 85vh;
  margin-top: 7vh;
  padding: 0;
  background: rgba(255, 255, 255, 0.75);
  /* backdrop-filter: blur(10px); */
  border-radius: 0.75rem;
  color: #000;
  text-align: center;
  box-shadow: 1px 1px 2px 2px var(--background);
  overflow-y: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;

}
